node_modules/
venv/
out/
dist/

WinksUI/.env
WinksUI/node_modules
WinksUI/dist
WinksUI/out
WinksUI/.DS_Store
WinksUI/.eslintcache
WinksUI/*.log*
WinksUI/python_runtime
WinksUI/py_wheels
python/_internal


