node_modules/
/client.old/.next/
WinksUI/node_modules
WinksUI/dist
WinksUI/out
WinksUI/.DS_Store
WinksUI/.eslintcache
WinksUI/*.log*

/client/.next/
/.idea/.gitignore
/.idea/vcs.xml
/WinksUI/python_runtime/
/python/_internal/
