.auth-page {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e0eeff;
    font-family: 'Poppins', sans-serif;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 32px;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .auth-form input {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .auth-form button {
    width: 100%;
    padding: 12px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .auth-form button:hover {
    background-color: #005bb5;
  }